/* Die Vorlage findest du hier: https://www.figma.com/file/L07OQLSoCzQenr7cZ12l01/Portfolio?node-id=0%3A1

Font: Work Sans, Didact Gothic, Fjalla One
Farben: #9e9e9e, #fff, #000, #333, #666
Die Bilder befinden sich in der zip-Datei im Classroom!
Dort befindet sich auch eine Bildschirmaufnahme der Website! */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Work;
    src: url(../fonts/Didact_Gothic_Fjalla_One_Work_Sans/Work_Sans/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: Didact;
    src: url(../fonts/Didact_Gothic_Fjalla_One_Work_Sans/Didact_Gothic/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: Fjalla;
    src: url(../fonts/Didact_Gothic_Fjalla_One_Work_Sans/Fjalla_One/FjallaOne-Regular.ttf);
}

h1 {
    font-family: Didact;
    text-transform: uppercase;
}

p, h2 {
    font-family: Work;
}

p {
    color: #9e9e9e;
}

a {
    font-family: Fjalla;
    text-decoration: none;
    color: #fff;
}

/* header */
header {
    text-align: center;
    height: 197vh;
    width: 720px;
    margin: 1% auto;
}

header p {
    font-size: 1.25rem;   
    margin-bottom: 8.25%; 
    color: #000;
}

header h1 {
    font-size: 6.25rem;
    margin-bottom: 10%;
    line-height: 8rem;  
    letter-spacing: -0.02em;  
    font-weight: 200;
}

header img {
    height: 120vh;
}

header h2 {
    font-size: 9rem;
    margin-top: 11%;
    text-transform: uppercase;
}

/* main */

main section:nth-of-type(odd) {
    height: 100vh;   
}

main section:nth-of-type(even) {
    height: 120vh;
}

main h1 {
    font-size: 6.8rem;
    margin: 2% 0 4% 0 ;
    font-weight: lighter ;
}

main section p {
    margin: 4% 0 2% 0;
    font-size: 1.25rem;
    letter-spacing: -0.05em;
}


/* section1 - orbis odd */
main section:nth-of-type(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../img/portfolio2.jpg) no-repeat 78% 613%/102% 101%;  
}

main section a {
    text-transform: uppercase;
    display: inline-block; 
    margin: 4.5% 0 0 0 ;
    font-size: 1rem;
    padding: 1.1% 2.0%;

}

main section article {
   position: relative;
   margin: 0 0 0 12%;
   padding: 7% 0 0 0;
}

main section:nth-of-type(odd) h1 {
    color: #fff;
}

main section:nth-of-type(odd) a {
    border: 2px solid #9E9E9E;
}

main section:nth-of-type(odd) a:hover  {
    color:#333;
    background: #fff;
    border: 0px;
}

main section:not(:last-child) p:nth-of-type(3) {
    font-size: 10rem;
    position: absolute;
    bottom: -32%;
    right: 10%;
    font-family: Fjalla;
    color: #9E9E9E;  
    letter-spacing: -0.02em;
    opacity: 0.2;
}

main section:nth-of-type(odd) a:hover + p {
    color: #fff;  
    opacity: 1;  
}

    /* section2 - rollr even */
main section:nth-of-type(2) {
    background: url(../img/portfolio3.png) no-repeat 58% 12%/131% 113%;  
}

main section:nth-of-type(even) h1 {
    color: #333;
}

main section:nth-of-type(even) article {
    padding: 21% 0 0 0;
}

main section:nth-of-type(even) p:nth-of-type(3) {
    color: #666;  
    opacity: 1;
}

main section:nth-of-type(even) a {
    color: #333;
    border: 2px solid #333;
}

main section:nth-of-type(even) a:hover  {
    color: #fff;
    background: #333;
    border: 0px;
}

main section:nth-of-type(even) a:hover + p {
    color: #333;    
}

/* section3 galitos */

main section:nth-of-type(3) {
    background:  url(../img/portfolio4.jpg) no-repeat 111% 145%/104% 108%;  
    background-blend-mode: darken;
 }

/* section4 tretto */

main section:nth-of-type(4) {
    background: url(../img/portfolio5.png) 58% 12%/131% 113%;  
}

/* section5 whats more */

main section:nth-of-type(5) {    
    background: #000;  
    color: #fff;
}

main section:nth-of-type(5) article {
    width: 70%;
    margin: 0 auto;
    padding: 10% 0 0 0;
}

h2 {
    font-size: 11.25rem;
    font-weight: 100;
    letter-spacing: -0.1em;
    margin: 0 0 25% 0;
}

main section:nth-of-type(5) article div {
    width: 68%;
    line-height: 2.25rem;
    margin: 0 0 0 44%;
}

main section:nth-of-type(5) article div p {
    color:#666;
    letter-spacing: 0.01em;
}

main section:nth-of-type(5) article div a {
    color:#fff;
    font-size: 3.75rem;
    letter-spacing: -0.06em;
    border: none;
    line-height: 4.5rem;
    background: none;
    font-family: Work;
    
}

main section:nth-of-type(5) article div a:hover {
    color:#666;  
    background: none;  
    text-decoration: underline;
}


/* footer */

footer {
    height: 120vh;
    text-align: center;
    
}

footer a {
    font-family: Didact;
    font-size: 9rem;
    font-weight: 200;
    line-height: 13rem;
    color:#000;
}

footer p {
    margin: 12% 0;
}

footer a:hover {
    text-decoration: underline;
}

/* animation rauskopiert aus https://css-tricks.com/almanac/properties/a/animation/ und https://webcode.tools/generators/css/keyframe-animation - aber ich habe keine Ahnung, was hier passiert und warum das so ist */

.fa-heart {
    animation: pulse 1s infinite;
    font-size: 1rem;
    color: #000;
}

@keyframes pulse {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
}
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
}
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
}
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
}
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
}
}  

















